// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require layout
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";


 .flash-fix {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  z-index: 1001;
}
